body {
    background-color: #d4d0d0;
}

#intro {
    padding-top: 10vh;
    margin-bottom: 40vh;
}

h1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 4em;
    text-align: center;
    font-family: 'Source Code Pro', monospace;
    color:#764CD5;
}

p {
    width: 40%;
    min-width: 250px;
    font-family: 'Source Code Pro', monospace;
    color:#222222;
    font-size: 2em;
    margin:10vh auto;
}

.color {
    display: block;
    color:#222222;
}

img { 
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.code {
    padding:0.5em;
    font-size: 1.5em;
    text-align: center;
    font-family: 'Source Code Pro', monospace;
    background-color:#222222;
    color:white
}

.nice {
    text-align: center;
    font-family: 'Source Code Pro', monospace;
    color:#222222;
    font-size: 3em;
    margin-bottom: 30vh;
}